/* 4 columns*/

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 16px;
}

/* 2 columns Ipad */
@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 1 columns mobile */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
