.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a2e38;
}

.authBox {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.inputField {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #00a2c7;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0093b3;
}

.textParagraph {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.aLink {
  color: #00a2c7;
  text-decoration: none;
}

.aLink:hover {
  text-decoration: underline;
}
